<div data-custom-modal class="custom-modal hide-modal">
  <div class="custom-modal__background"></div>
  <div class="custom-modal__container">
    <div>
      <div>
        <button></button>
        <div></div>
        <div>
          <h2>Hello from modal</h2>
        </div>
      </div>
    </div>
  </div>
</div>
