/* Product modal */

div:empty {
  display: block;
}

.hide-modal {
  display: none;
}

.custom-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.custom-modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

.custom-modal__container {
  width: 85%;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-height: 518px;
  max-width: 1200px;
}

.custom-modal__content-container {
  padding: 40px;
}

.custom-modal__content-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.custom-modal__close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Product modal image */

.custom-modal__image-wrapper {
  width: 50%;
  flex: 1 1 50%;
  height: 100%;
}

.custom-modal__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  aspect-ratio: 1/1.06444;
}

/* Product modal product info */

.custom-modal__product-info {
  flex: 1 1 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.custom-modal__title-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.custom-modal__title-wrapper h3 {
  color: #05117F;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  margin-block: 0;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .custom-modal__container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .custom-modal__container {
    width: 70%;
  }
}

/* Complete the look */

.complete-the-look {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin-block: 0;
}

.complete-the-look__product {
  list-style: none;
  display: flex;
}

.complete-the-look__product-image-wrapper {
  flex-grow: 0 0 88px;
}

.complete-the-look__product-image {
  width: 88px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  display: block;
}
