/* basic styles */

.stop-scroll {
  overflow: hidden;
}

div:empty {
  display: block;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
  margin-block: 0;
}

.hide-modal {
  display: none;
}

.custom-modal__p {
  margin-block: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.custom-modal__compared-price {
  color: #666666;
  font-size: 18px;
  line-height: 24px;
}

.custom-modal__price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #05117f;
}
/* Product modal */

.custom-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.custom-modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

.custom-modal__container {
  width: 90%;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-height: 518px;
  max-width: 918px;
}

.custom-modal__content-container {
  padding: 40px;
}

.custom-modal__content-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.custom-modal__close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Product modal image */

.custom-modal__image-wrapper {
  width: 50%;
  flex: 1 1 50%;
  height: 100%;
}

.custom-modal__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  aspect-ratio: 1/1.06444;
}

/* Product modal product info */

.custom-modal__product-info {
  flex: 1 1 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.custom-modal__modal-title-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.custom-modal__modal-title-wrapper h3 {
  color: #05117f;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  margin-block: 0;
  width: 90%;
}

.custom-modal__product-title-wrapper {
  margin-bottom: 10px;
}

.custom-modal__product-title-wrapper p {
  color: #464646;
}

.custom-modal__product-title-wrapper p span {
  font-weight: 700;
  font-size: 20px;
}

.custom-modal__savings-message {
  margin-bottom: 32px;
}

@media screen and (min-width: 991px) {
  .custom-modal__container {
    width: 100%;
  }
}

/* Complete the look */

.complete-the-look {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin-block: 0 32px;
}

.complete-the-look__product {
  list-style: none;
  display: flex;
  gap: 10px;
}

.complete-the-look__product-image-wrapper {
  flex-grow: 0 0 88px;
}

.complete-the-look__product-image {
  width: 88px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Complete the look - product info */

.complete-the-look__product-title-wrapper a {
  color: #262c3e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.complete-the-look__product-vendor-wrapper,
.complete-the-look__product-sku-wrapper {
  margin-bottom: 11px;
}

.complete-the-look__product-vendor-wrapper p {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.complete-the-look__product-sku-wrapper p {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
}

.complete-the-look__product-compare-prices-wrapper {
  display: flex;
  gap: 10px;
}

/* Buy buttons */

.custom-modal__buy-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 44px;
}

.custom-modal__button {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  flex: 1 1 20%;
  background-color: #05117f;
  color: #e8e8e8;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.custom-modal__buy-buttons button:last-of-type {
  flex: 1 1 35.75%;
  background-color: unset;
  color: #05117f;
  border: 1px solid #05117f;
  font-weight: 500;
}
